.home-banner {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  height: 100vh;

  text-align: center;
  padding-top: 40vh;
}

.container {
  width: 1450px;
  // margin: auto;
  // padding: 0 30px;
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
}

.card_structure {
  // display: inline-block;
  border-radius: 7px;
  margin: 25px auto;
  background-color: black;
  position: relative;
  width: 400px;
  height: 270px;
  overflow: hidden;
}


.card {
  // display: block;
  transition: .3s ease-in-out;
  width: 400px;
  height: 270px;
}

.card:hover {
  cursor: grab;
  transform: scale(1.2);
}

.text {
  text-align: center;
}

body {

  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(34,20,25);
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a:hover {
  opacity:0.5;
  color: #EB4A5F;
}

h4 {
  color: white;
 }

.whitec {
  color: white;
  text-decoration: none;
}
